@charset "utf-8";

/* CSS Document */

.ag_staff {

	float:left;

}

.ag_staff ul{

	list-style:none;

	margin: 0;

}

.ag_staff span{

	float:left;

	clear:both;

	font-style:italic;

}

.ag_staff b{

	float:left;

	clear:both;

}